<<<<<<< HEAD
div {
    display: flex;
}


nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 5px 100px -7px;
    box-shadow: 0 2px 10px 1px #bbb;
    background-color: rgb(248, 191, 3);
    position: fixed;
    top: 0;
    padding: 8px 0 0 0;
}


#nav {
    width: 60px;
    border-radius: 50%;
}

/********** start of heading ***************/ 

#welcome {
    flex-direction: column-reverse;
    justify-content: center;
}



h1 {
    color: royalblue;
    text-align: center;
    font-size: 400%;
    margin: 0 0 65px 0;
}





#img {
    align-self: center;
    border-radius: 50%;
    height: 40vh;
    max-width: 376px;
    border: 4px ridge orange;
    margin: 100px 0 65px 0;
}


/*************** end of heading *****************/

/*************** about me section *****************/
#content {
    margin: 0;
    background-color: #999;
    box-shadow: 0px 0px 10px 5px #777;
    border-radius: 10px;
    flex-direction: column;
    margin: 0 0 80px 0;
}




#content ul{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: square;
}



#content ul li{
    width: 30vw;
    max-width: 46vw;
    padding: 0 0 20px 0;
    color: hsl(167, 100%, 50%);
    font-size: 18px;
    text-shadow: 0 0 10px black;
}




span ,h3{
    color: orange;
}






#about {
    flex-direction: column;
}




#about h2 {
    text-align: center;
    font-size: 280%;
    margin: 20px 0px 0px 0px;
    text-shadow: 0px 0px 5px red, 0px 0px 10px royalblue;
}




#about p {
    font:normal normal 600 150%/1.6 'New Times Roman';
    padding: 8px;
    text-align: center;
    margin: 0 0 50px 0;
    text-shadow: 0px 0px 5px firebrick, 0px 0px 10px rgb(183, 0, 255);
    color: black;
}




#content > h2 {
    text-align: center;
    font-size: 280%;
    padding: 25px 0px 30px 0px;
    margin: 0;
    text-shadow: 0px 0px 5px green, 0px 0px 10px aqua;
}

/****************** end about me **************/


/* H3 changes with span elements */
#span {
    font: normal normal 600 200%/1.6 'New Times Roman';
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    text-shadow: 0px 0px 5px rgb(38, 1, 41), 0px 0px 5px rgb(23, 49, 128);
}

#projects {
    flex-direction: row;
    justify-content: center;
    margin: 0 0 30px 0;
}


body {
    max-width: 99vw !important;
}


footer {
    text-align: center;
    background-color: lawngreen;
    width: 100%;
    padding: 0px;
    margin: 5px 0 10px 0;
}



#particles-js {
    z-index: -1;
    position: fixed;
    background-color: #aaa;
    height: 130%;
    width: 110%;
    margin: 0 0 0 -8px;
    padding: 0 0 0 0;
    top: 0;
}


h2 {
    text-align: center;
    font: normal normal 600 300%/1.5 "New Times Roman";
    text-shadow: 0px 0px 10px rgb(110, 233, 255), 0px 0px 10px rgb(151, 233, 0);
}

#contact {
    justify-content: center;
}


#con-images {
    border-radius: 50%;
    width: 50px;
    padding: 2px 5px 2px 5px;
    margin: 0 0 18px 0;
}


a , a:visited{
    color: firebrick;
    text-decoration: none;
}


figure img {
    border-radius: 50%;
}


figcaption {
    text-align: center;
    font-size: 40px;
}
@media (min-width: 768px) {
    #img {
        margin: 135px 0 65px 0;
    }
=======
div {
    display: flex;
}


nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 5px 100px -7px;
    box-shadow: 0 2px 10px 1px #bbb;
    background-color: rgb(248, 191, 3);
    position: fixed;
    top: 0;
    padding: 8px 0 0 0;
}


#nav {
    width: 60px;
    border-radius: 50%;
}

/********** start of heading ***************/ 

#welcome {
    flex-direction: column-reverse;
    justify-content: center;
}



h1 {
    color: royalblue;
    text-align: center;
    font-size: 400%;
    margin: 0 0 65px 0;
}





#img {
    align-self: center;
    border-radius: 50%;
    height: 40vh;
    max-width: 376px;
    border: 4px ridge orange;
    margin: 100px 0 65px 0;
}


/*************** end of heading *****************/

/*************** about me section *****************/
#content {
    margin: 0;
    background-color: #999;
    box-shadow: 0px 0px 10px 5px #777;
    border-radius: 10px;
    flex-direction: column;
    margin: 0 0 80px 0;
}




#content ul{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: square;
}



#content ul li{
    width: 30vw;
    max-width: 46vw;
    padding: 0 0 20px 0;
    color: hsl(167, 100%, 50%);
    font-size: 18px;
    text-shadow: 0 0 10px black;
}




span ,h3{
    color: orange;
}






#about {
    flex-direction: column;
}




#about h2 {
    text-align: center;
    font-size: 280%;
    margin: 20px 0px 0px 0px;
    text-shadow: 0px 0px 5px red, 0px 0px 10px royalblue;
}




#about p {
    font:normal normal 600 150%/1.6 'New Times Roman';
    padding: 8px;
    text-align: center;
    margin: 0 0 50px 0;
    text-shadow: 0px 0px 5px firebrick, 0px 0px 10px rgb(183, 0, 255);
    color: black;
}




#content > h2 {
    text-align: center;
    font-size: 280%;
    padding: 25px 0px 30px 0px;
    margin: 0;
    text-shadow: 0px 0px 5px green, 0px 0px 10px aqua;
}

/****************** end about me **************/


/* H3 changes with span elements */
#span {
    font: normal normal 600 200%/1.6 'New Times Roman';
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    text-shadow: 0px 0px 5px rgb(38, 1, 41), 0px 0px 5px rgb(23, 49, 128);
}

#projects {
    flex-direction: row;
    justify-content: center;
    margin: 0 0 30px 0;
}


body {
    max-width: 99vw !important;
}


footer {
    text-align: center;
    background-color: lawngreen;
    width: 100%;
    padding: 0px;
    margin: 5px 0 10px 0;
}



#particles-js {
    z-index: -1;
    position: fixed;
    background-color: #aaa;
    height: 130%;
    width: 110%;
    margin: 0 0 0 -8px;
    padding: 0 0 0 0;
    top: 0;
}


h2 {
    text-align: center;
    font: normal normal 600 300%/1.5 "New Times Roman";
    text-shadow: 0px 0px 10px rgb(110, 233, 255), 0px 0px 10px rgb(151, 233, 0);
}

#contact {
    justify-content: center;
}


#con-images {
    border-radius: 50%;
    width: 50px;
    padding: 2px 5px 2px 5px;
    margin: 0 0 18px 0;
}


a , a:visited{
    color: firebrick;
    text-decoration: none;
}


figure img {
    border-radius: 50%;
}


figcaption {
    text-align: center;
    font-size: 40px;
}
@media (min-width: 768px) {
    #img {
        margin: 135px 0 65px 0;
    }
>>>>>>> 95137586c3a8c6f90e0df64cf6ad01ab7fa0984f
}
